<!DOCTYPE html>
<html dir="rtl" lang="ar">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}">
    <script src="{{url_for('static', filename='/js/scripts.js')}}"></script>

    <title>نظام التحقق من الاقتباس</title>

</head>

<body>


<form method="POST">
    <input type="text" name ="username" placeholder="اسم المستخدم" />
    <input type="password" name ="password" placeholder="الرقم السري" />
    <button type="submit" class="btn theme-btn btn-block">التسجيل</button>
</form>


</body>